{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'dictionary/logo.png' %}" />
    <title>{% block title %}Definity{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'dictionary/style.css' %}">
</head>

<body class="bg-white min-h-screen p-6">
        {% block content %}{% endblock %}
</body>

</html>