<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Definity</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
</head>

<body class="flex items-center justify-center min-h-screen">
    <div class="max-w-2xl w-full bg-white p-6 mb-28">
        <h1 class="text-6xl text-center font-bold mb-6 text-teal-600 mb-4">Definity</h1>
        <form method="get" action="/" class="flex items-center mx-auto">
            <div class="relative w-full">
                <div class="absolute inset-y-0 start-0 flex items-center ps-4 pointer-events-none text-gray-600">
                    <i class="fas fa-search"></i>
                </div>
                <input type="text" name="word" value="{{ word }}" placeholder="Enter a word or phrase"
                    autocomplete="off"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-1 focus:ring-teal-500 focus:border-teal-500 block w-full ps-10 p-4"
                    required />
            </div>
            <button type="submit"
                class="min-w-32 p-4 ms-2 text-sm font-medium text-white bg-teal-600 rounded-lg border border-teal-600 hover:bg-teal-700">
                Search
            </button>
        </form>
    </div>
</body>

</html>